In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pycaret
from pycaret.classification import *
from pycaret.datasets import get_data

ModuleNotFoundError: No module named 'pycaret4'

In [8]:
import pandas as pd
from pycaret.regression import *

train_data = pd.read_csv('cleaned_data.csv')

train_data.drop(columns=['Unnamed: 0'], inplace=True)

train_data['DATETIMEDATA'] = pd.to_datetime(train_data['DATETIMEDATA'])

regression_setup = setup(train_data, target='PM25', session_id=123, date_features=['DATETIMEDATA'], normalize=True)
best = compare_models()

rf_model = create_model('rf')

tuned_rf_model = tune_model(rf_model)

bagged_model = ensemble_model(tuned_rf_model, n_estimators=20)

last_prediction_time = train_data['DATETIMEDATA'].max()

start_date = last_prediction_time + pd.DateOffset(hours=1)
end_date = start_date + pd.DateOffset(days=30, hours=23)
next_week_hours = pd.date_range(start=start_date, end=end_date, freq='D')

next_week_data = pd.DataFrame({'DATETIMEDATA': next_week_hours})

next_week_data['O3'] = 0
next_week_data['WS'] = 0
next_week_data['TEMP'] = 0
next_week_data['RH'] = 0
next_week_data['WD'] = 0

model_predictions = predict_model(bagged_model, data=next_week_data)

mpdf = pd.DataFrame(model_predictions, columns=['DATETIMEDATA', 'prediction_label'])

print(mpdf)

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

   DATETIMEDATA  prediction_label
0    2024-03-11         22.111816
1    2024-03-12         22.204232
2    2024-03-13         21.801291
3    2024-03-14         21.682245
4    2024-03-15         21.016929
5    2024-03-16         20.768957
6    2024-03-17         20.456443
7    2024-03-18         20.258216
8    2024-03-19         20.658669
9    2024-03-20         21.419819
10   2024-03-21         21.587177
11   2024-03-22         21.139065
12   2024-03-23         19.099157
13   2024-03-24         18.951667
14   2024-03-25         18.531671
15   2024-03-26         18.739036
16   2024-03-27         19.149325
17   2024-03-28         19.422577
18   2024-03-29         19.506243
19   2024-03-30         19.491853
20   2024-03-31         19.420513
21   2024-04-01         22.527963
22   2024-04-02         22.519143
23   2024-04-03         21.862883
24   2024-04-04         21.755337
25   2024-04-05         23.005016
26   2024-04-06         23.307866
27   2024-04-07         23.939709
28   2024-04-08         24.601099
29   2024-04-09         23.188481
30   2024-04-10         22.685349

In [9]:
mpdf.to_csv('model_predictions.csv', index=False)